/* Container */
/* .table-container {
    background: #f8f9fa; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


/* Header */
h2 {
    color: #333;
}

/* Tombol Tambah */
.btn-add {
    background-color: #48bec8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-add:hover {
    background-color: #3699a3;
}

/* Tabel */
/* .table-header {
    background-color: #faaf78;
    color: white;
    text-align: center;
}

.table-bordered th, .table-bordered td {
    vertical-align: middle;
    text-align: center;    
}   */

/* Tabel */
.table-header {
    background-color: #faaf78; /* Warna utama */
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Membuat sudut atas tabel melengkung */
}

.table-bordered {
    border: 1px solid #faaf78;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #faaf78; 
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

.table-bordered tr:nth-child(even) {
    background-color: #fdf3eb; /* Warna baris genap */
}

.table-bordered tr:nth-child(odd) {
    background-color: #fff; /* Warna baris ganjil */
}

/* .table-bordered tr:hover {
    background-color: #f4d8c5; 
    transition: background-color 0.3s ease;
} */

.table-bordered tr:hover {
    background-color: rgba(250, 175, 120, 0.3);  /* Warna #FAAF78 dengan transparansi 0.3 */
    transition: background-color 0.3s ease;
}


.table-bordered th {
    background: linear-gradient(90deg, #faaf78, #f57e42); 
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
}



/* Tombol Edit dan Delete */
.btn-edit {
    background-color: #FFD700; 
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-delete {
    background-color: #FF6347; 
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-edit:hover {
    background-color: #E6B800; 
}

.btn-delete:hover {
    background-color: #D94E3B;
}


/* Status Badge */
.bg-available {
    background-color: #4CAF50 !important;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}

.bg-not-available {
    background-color: #F44336 !important;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}


