/* Container */
.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
h2 {
    color: #333;
}

/* Tombol Tambah */
.btn-add {
    background-color: #48bec8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-add:hover {
    background-color: #3699a3;
}

/* Tabel */
.table-header {
    background-color: #faaf78;
    color: white;
    text-align: center;
}

.table-bordered th, .table-bordered td {
    vertical-align: middle;
    text-align: center;
    
}

/* Tombol Edit dan Delete */
.btn-edit {
    background-color: #FFD700; /* Kuning Emas */
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-delete {
    background-color: #FF6347; /* Merah Tomat */
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-edit:hover {
    background-color: #E6B800; /* Kuning Emas Lebih Gelap */
}

.btn-delete:hover {
    background-color: #D94E3B; /* Merah Tomat Lebih Gelap */
}


/* Status Badge */
.bg-available {
    background-color: #4CAF50 !important;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}

.bg-not-available {
    background-color: #F44336 !important;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}
